body{
    background: black;
}
.box{
    background:white ;
    font-family: sans-serif;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

   #book1{ color: orange;
   }

strong{
    color: teal;
}
#book2{
    color:teal ;
}
span{
    color: yellow;
}